[webcam_servers]
# Define your target servers here. Example:
# target_node ansible_host=192.168.0.14 ansible_user=brian

[webcam_servers:vars]
# Base path on the target server where JotCAD should be deployed
deploy_dir=/var/www/jotcad
