# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: (sudo apt-get install libboost-all-dev)
      - run: (sudo apt-get install -y build-essential libxi-dev libglu1-mesa-dev libglew-dev pkg-config xvfb)
      # - run: (sudo apt install cmake)
      - run: npm ci
      - run: (cd geometry; ./install_native.sh)
      - run: npm run depcheck
      - run: npm run lint
      - run: npm run tests
        env:
          NODE_OPTIONS: --max_old_space_size=4096
      - name: Make wasm available
        uses: actions/upload-artifact@v4
        with:
          name: cgal_browser.wasm
          path: es6/cgal_browser.wasm
